*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.rda
*.rds
*.tiff
*.tif
*.png
*.pdf
*.jpeg
.Rproj.user
.DS_Store
.RDataTmp
data/AIM/*
data/spatial/*
*.pptx
doc/ChrisHansen/*
data/old_RAP_EE_exports/*
data/temp/allotments/*
data/temp/BLM_field_offices_cleaned/*
output/tables/*.md
QGIS_files/*
doc/*
manuscript/*
data/AIM/*
app/data/*
app/rsconnect/*
